body {
    font-family:Shadows Into Light,Cursive;
   
 
}

header {
    background: #CCCCFF;
    padding: 2rem;
   
}

nav a {
    color: White;
    font-weight: bold;
    text-transform: uppercase; 
}

main {
    margin: 2rem;
    /* If we remove the default margin on the body element, we'll need to add some margin space to the main element. If we delete this, the main text will run right to the edge of the browser window. */
}

footer {
    color: Black;
    text-align: center;
    background: #CCCCFF;
    padding: 2rem;
    /* Keep in mind that it doesn't matter what comes first when you assign multiple styles to one element. For example, here in the footer styles, the order of the color, text-align, background, and padding properties doesn't matter. It's up to you which property you want to be first, second, third, etc. */ 
}
