body {
    font-family:link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
;
   
    /* This margin setting removes margins web browsers provide by default on the body element. Think of it like removing the default page margins in Microsoft Word so things like our header and footer can go right to the edge of the page. As an experiment, try deleting the line with the margin setting. After saving your changes, you should notice the blue header and footer are pushed away from edges of the browser, leaving white space around them. */
}

header {
    background: #CCCCFF;
    padding: 2rem;
    /* This padding setting keeps the navigation links from being right against the edge of the header space. Remember! Margins add space around the outside of an element while padding adds space inside. As an experiment, try increasing the padding to 3 or 4 and adding margin: 2rem; on a new line. Then, save your file and note how your changes altered the look of the header. */
}

nav a {
    color: White;
    font-weight: bold;
    text-transform: uppercase; 
}

main {
    margin: 2rem;
    /* If we remove the default margin on the body element, we'll need to add some margin space to the main element. If we delete this, the main text will run right to the edge of the browser window. */
}

footer {
    color: Black;
    text-align: center;
    background: #CCCCFF;
    padding: 2rem;
    /* Keep in mind that it doesn't matter what comes first when you assign multiple styles to one element. For example, here in the footer styles, the order of the color, text-align, background, and padding properties doesn't matter. It's up to you which property you want to be first, second, third, etc. */ 
}
